<a href="https://colab.research.google.com/github/bhattrahul301/Assignment1/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [112]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [113]:
users=pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user')
users.head()

  user_id|age|gender|occupation|zip_code
0                1|24|M|technician|85711
1                     2|53|F|other|94043
2                    3|23|M|writer|32067
3                4|24|M|technician|43537
4                     5|33|F|other|15213

In [114]:
users['user_id']=users['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[0])

In [115]:
users['age']=users['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[1])

In [116]:
users['gender']=users['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[2])

In [117]:
users['occupation']=users['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[3])

In [118]:
users['zip_code']=users['user_id|age|gender|occupation|zip_code'].apply(lambda x:x.split('|')[4])

In [119]:
users.drop('user_id|age|gender|occupation|zip_code',axis=1,inplace=True)

In [120]:
users.set_index('user_id',inplace=True)

In [121]:
users.head(10)

        age gender     occupation zip_code
user_id
1        24      M     technician    85711
2        53      F          other    94043
3        23      M         writer    32067
4        24      M     technician    43537
5        33      F          other    15213
6        42      M      executive    98101
7        57      M  administrator    91344
8        36      M  administrator    05201
9        29      M        student    01002
10       53      M         lawyer    90703

In [122]:
users.tail(10)

        age gender     occupation zip_code
user_id
934      61      M       engineer    22902
935      42      M         doctor    66221
936      24      M          other    32789
937      48      M       educator    98072
938      38      F     technician    55038
939      26      F        student    33319
940      32      M  administrator    02215
941      20      M        student    97229
942      48      F      librarian    78209
943      22      M        student    77841

In [123]:
users[users. columns[0]]. count()

943

In [124]:
users.shape[1]

4

In [125]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

In [126]:
users.index

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       ...
       '934', '935', '936', '937', '938', '939', '940', '941', '942', '943'],
      dtype='object', name='user_id', length=943)

In [127]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    object
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: object(4)
memory usage: 36.8+ KB

In [128]:
users['occupation']

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

In [129]:
users['occupation'].value_counts().count()

21

In [130]:
users['occupation'].mode()

0    student
dtype: object

In [131]:
users.info()

<class 'pandas.core.frame.DataFrame'>
Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    object
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: object(4)
memory usage: 69.1+ KB

In [132]:
users.describe(include = 'all')

        age gender occupation zip_code
count   943    943        943      943
unique   61      2         21      795
top      30      M    student    55414
freq     39    670        196        9

In [148]:
users['occupation'].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

In [146]:
users['age'].mean()

inf

In [141]:
users['age'].value_counts().idxmin()

'7'